/* Style for the background of this page */
body,html {
	background: url("../Images/hogwarts.gif"); /*background image of introducotry page, gif with lights*/
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Fontdiner Swanky'; /* google font*/
	font-size: 20px;
}


/*font used from a website*/
@font-face {
    font-family: myFirstFont;
    src: url("../CSS/HARRYP__.ttf");
}

h1 {   
	font-family: myFirstFont; /* title of page in a Harry Potter font*/ 
	font-size: 100px;
	color: #cd9932;
	text-shadow: 0px 0px 2px #cd9932;
	text-align: center;
}

.story {    /* css for the intro to the page*/ 
	background-color: lightblue;
	margin: 60px;
	padding: 30px;
	font-family: "Lato"; /* use of another google font*/ 
}


.float {    /* scroll of intro page that floats to the left side*/ 
	margin: 0% 50% 0% 10%;
	padding: 40px;
	background: url("../Images/scroll.jpg"); /* image is up a folder level, into Images, selects scroll.jpg*/
	background-size: contain;
	background-repeat: no-repeat;
	font-family: "Satisfy"; /* use of another google font*/
	font-size: 25px;
}

#main { /* this is the background of the page after the house is clicked. doesnt change, only the background image of class "house" does*/
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
	text-align: center;
	/* covers the entire page */
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 10;
	overflow: auto;

}
.notice {  /*game beginning greeting and game rules*/
	background-color: rgba(255,255,255,0.6); /*gives a transparent block, allowing the background to show*/
	margin: 30px;
	padding: 25px;
	padding-top: 15px;
}

.input {	/*block for the user to input guesses and receive hints*/
	background-color: rgba(255,255,255,0.45); /*gives a transparent block, allowing the background to show*/
	max-width: 80%;
	margin: auto;
	border-style: outset;
	border-color: #edd053;
	border-radius: 12px 12px; /*curves the edges of the block*/
	padding: 15px;
	text-align: center;
}

#guess {	/*css for the input box*/
	border-radius: 8px 8px;
	width: 300px;
	height: 30px;
	font-family: 'Fontdiner Swanky';
	font-size: 27px;
	padding: 8px;
}

#submit {	/*css for submit button*/
	border-radius: 8px 8px;
	margin-top: 10px;
	width: 80px;
	height: 28px;
	font-family: "Fontdiner Swanky";
	font-size: 15px;
	background-color: white;
}
table {
	table-layout: fixed;
	max-width: 100%;
	overflow: auto; /*adjusts size of table if the content spills out*/
}
th {
	text-align: center;
	padding: 25px;
	padding-bottom: 5px;
}
td {
	padding: 10px;
	text-align: left;
	border-left: 1px dotted black;
	width: 50%;
}

.buttons {
	display: none; /*hides the button until the game is over*/
	text-align: center;
	/* covers the entire page */
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
}

button {
	width: 90px;
	height: 50px;
	border-radius: 15px 15px;
	background-color: white;
	font-size: 25px;
	font-family: "Fontdiner Swanky";
}

/* style for bar that displays game numbers etc */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: rgba(255,255,255,0.45);
    border-radius: 20px;
    width: 22%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 15px;
}
.stats {
	text-align: left;
	margin-top: 10px;
}

#congrats,#gameOver {
	display: none;
}

/* style for the div if user decides to quit the game */
.end {
	display: none;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	text-align: center;
	background: #c6cace;
}
.end img {
	height: 90%;
	width: 90%;
	border-radius: 25px 25px;
}
